@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    
    background-color: #f9f9f9;
    box-sizing: border-box;
    overflow-x: hidden;
}
#img22 {
    filter: invert(1);
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
 }
.city-buttons-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 10px;
    gap: 10px;
}

.city-button {
    font-family: "Montserrat", sans-serif;
    background: none;
    height: auto;
    color: white;
    text-align: center;
    padding: 11px 20px 10px 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 22px;
    border: none;
    border: 2px solid rgb(182, 182, 182);
    color: black;
    font-size: 16px;
    text-transform: uppercase;

}
.city-button.active {
    color: white;
    background: #16C47F;
    border: 2px solid #16C47F;

}
/* .city-button:hover {
    background-color: darkblue;
} */

.suma-container {
    overflow: visible;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
    padding: 0 30px;
    margin: 0 auto;
}

.suma-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    max-width: 1100px;
    gap: 20px;
    row-gap: 20px;
    padding: 0;
}


.suma-container ul .trasa{
    border-radius: 8px;
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative; /* Make trasa relative so that description can be positioned absolutely */
}

#rama {
    border-radius: 8px 8px 0 0;
    width: 350px;
    height: 210px;
    overflow: hidden;  
}

#rama img {
    width: 100%;
    height: 100%;     
    object-fit: cover; 
    filter: brightness(0.9);
    transition: transform .7s ease;  
}

#rama img:hover {
    transform: scale(1.1);  
}

.suma-container ul .trasa button{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    cursor: pointer;
    width: 350px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 10px;
    font-size: 18px;
    text-align: left;
    background: white;
    border: none;
    text-transform: uppercase;
}

.description {
    width: 330px;
    position: absolute;
    top: 99%;
    left: 0;
    padding: 5px 10px 10px 10px;
    font-size: 17px;
    background-color: rgb(255, 255, 255);
    color: black;
    z-index: 1;
    max-height: 0; 
    opacity: 0; 
    visibility: hidden;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    transition: max-height 1.5s ease-in-out, opacity 1.5s ease, visibility 0s ease 0.5s;
}

.trasa.active .description {
    max-height: 3450px; 
    opacity: 1; 
    visibility: visible; 
    transition: max-height 1.5s ease-in-out, opacity 0.5s ease;
}









@media screen and (max-width: 500px){
    .city-button {
        padding: 8px 17px 7px 17px;
        font-size: 14px;
    }

    .suma-container{
        padding: 0;
    }  
    .suma-container ul .trasa{
        border-radius: 8px;
        width: 90vw;
        height: 280px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    #rama {
        border-radius: 8px 8px 0 0;
        width: 90vw;
        height: 210px;
        overflow: hidden;  
    }
    .suma-container ul .trasa button{
        width: 90vw;
        height: auto;
        padding: 15px 10px;
        font-size: 18px;
    }
    
    .description {
        width: 84vw;
        position: absolute;
        top: 96%;
        padding: 5px 3vw 20px 3vw;
        font-size: 15px;
    }
}

