
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)), url(../obrazy/image.png);
    background-position: center;
    background-size: cover;
    filter: blur(2px); 
    z-index: -1; 
}



ul{
    padding-top: 150px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0px;
    flex-wrap: wrap;
}
ul li{
    padding: 0;
}
#gdansk_div, #gdansk_div2 , #gdansk_div3 {
    width: 500px;
    height: 45px; 
    overflow: hidden;
    transition: height 0.4s ease;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
#gdansk_div{
    background-color: #B7E0FF;
}
#gdansk_div2{
    background-color: #4CC9FE;
}
#gdansk_div3{
    background-color: #0D92F4;
}
#gdansk_div button, #gdansk_div p{
    font-size: 19px;
    color: #FFFBE6;
} 
#gdansk_div2 button, #gdansk_div2 p{
    font-size: 19px;
    color: #FFFBE6;
} 
#gdansk_div3 button, #gdansk_div3 p{
    font-size: 19px;
    color: #FFFBE6;
} 

#main_tytul{
    width: 500px;
    background-color: #f0f4f8; 
    height: 45px; 
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#gdansk_div button , #gdansk_div2 button , #gdansk_div3 button{
    background: none;
    border: none;
    font-size: 25px;
    padding: 0;
    cursor: pointer;
}

#gdansk_div button:hover ~ #gdansk_div , #gdansk_div2 button:hover ~ #gdansk_div2, #gdansk_div3 button:hover ~ #gdansk_div3{
    height: 450px;
    background-color: rgb(66, 85, 85);
}

@media screen and (max-width:1100px) {

    body {
        font-family: "Montserrat", sans-serif;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: auto;
        box-sizing: border-box;
        position: relative;
        overflow-y: hidden;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    }
    ul{
        padding: 0px;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        gap: 0px;
        flex-wrap: wrap;
    }
    body::before {
        content: "";
        position: fixed; /* Changed from absolute to fixed */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)), url(../obrazy/image.png);
        background-position: center;
        background-size: cover;
        filter: blur(2px); 
        z-index: -1; 
    }
    
}


