#sl2{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sl2_container{
    display: flex;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sl2_content{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    padding: 50px 60px 70px 60px;
    border-radius: 20px;
    max-width: 1300px;
}
#sl2_about{
    margin: 5px 0 0 5px;
    list-style: none;
    padding-left: 0;
    gap: 10px;
}

#sl2_about li{
    background-image: url('../obrazy/verified1.png');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 0 50%; 
    padding-left: 40px; 
    margin-bottom: 5px;
    font-size: 20px;
}

#sl2_about li:last-child {
    margin-bottom: 0; 
}


#certyfikaty{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}
#certyfikaty h2{
    margin: 0 0 10px 0;
    font-size: 45px;
}

#certificate{
    width: 40px;
}


#sl2_text{
    display: flex;
    padding: 0px;
    flex-direction: column;
    color: black;
    max-width: 550px;
}

#sl2_text h1{
    margin: 10px 5px;
}

#sl2_text h3{
    margin: 0 0 30px 5px;
    font-size: 20px;
    font-weight: 400;
}

#images-slides{
    border-radius: 20px;
}


#images {
    transform: translateY(20px);
    height: 500px;
    overflow: visible;
}


#images-slides {
    border-radius: 20px;
    width: 380px;
    height: 300px;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

.images-slides:nth-child(1n) {
    background: url('../obrazy/Multimedia\ \(1\).jpg');
}

.images-slides:nth-child(2n) {
    background: url('../obrazy/Multimedia\ \(2\).jpg');
}

.images-slides:nth-child(3n) {
    background: url('../obrazy/Multimedia\ \(3\).jpg');
}

.images-slides:nth-child(4n) {
    background: url('../obrazy/Multimedia\ \(4\).jpg');
}

.images-slides:nth-child(5n) {
    background: url('../obrazy/Multimedia\ \(5\).jpg');
}

.images-slides:nth-child(6n) {
    background: url('../obrazy/Multimedia\ \(6\).jpg');
}

.images-slides:nth-child(7n) {
    background: url('../obrazy/Multimedia\ \(7\).jpg');
}

.images-slides:nth-child(8n) {
    background: url('../obrazy/Multimedia\ \(8\).jpg');
}

.images-slides:nth-child(9n) {
    background: url('../obrazy/Multimedia\ \(9\).jpg');
}

.images-slides:nth-child(10n) {
    background: url('../obrazy/Multimedia\ \(1\).jpg');
}


@media screen and (max-width:1700px) {
    #rest{
        display: flex;
        flex-direction: row;
        gap: 70px;
    }
    
    #sl2_content{
        font-size: 20px;
        padding: 50px 60px 70px 60px;
        border-radius: 20px;
        max-width: 900px;
    }
    
    #sl2_about{
        margin: 5px 0 0 5px;
        list-style: none;
        padding-left: 0;
        gap: 10px;
    }
    
    #sl2_about li{
        background-image: url('../obrazy/verified1.png');
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: 0 50%; 
        padding-left: 40px; 
        margin-bottom: 5px;
        font-size: 17px;
    }
    
    #sl2_about li:last-child {
        margin-bottom: 0; 
    }
    
    
    #sl2_text{
        padding: 0px;
        max-width: 450px;
    }
    
    #sl2_text h1{
        margin: 10px 5px;
    }
    
    #sl2_text h3{
        margin: 0 0 30px 5px;
        font-size: 16px;
        font-weight: 400;
    }
    
    #images-slides{
        border-radius: 20px;
    }
    
    
    #images {
        transform: translateY(20px);
        height: 480px;
    }
    
    
    #images-slides {
        border-radius: 22px;
        width: 330px;
        max-height: 460px;
        height: 260px;
    }


    
#certyfikaty{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}
#certyfikaty h2{
    font-size: 25px;
}

#certificate{
    width: 40px;
}


}
























@media screen and (max-width: 1450px) {
    #rest{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    
    #sl2_content{
        font-size: 18px;
        padding: 25px 39px 27px 39px;
        border-radius: 20px;
        max-width: 700px;
    }
    
    #sl2_about{
        margin: 5px 0 0 5px;
        list-style: none;
        padding-left: 0;
        gap: 10px;
    }
    
    #sl2_about li{
        background-image: url('../obrazy/verified1.png');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 0 50%; 
        padding-left: 40px; 
        margin-bottom: 5px;
        font-size: 16px;
    }
    
    #sl2_about li:last-child {
        margin-bottom: 0; 
    }
    
    
    #sl2_text{
        padding: 0px;
        max-width: 450px;
    }
    
    #sl2_text h1{
        margin: 10px 5px;
    }
    
    #sl2_text h3{
        margin: 0 0 15px 5px;
        font-size: 14px;
        font-weight: 400;
    }
    
    #images-slides{
        border-radius: 20px;
    }
    
    
    #images {
        transform: translateY(20px);
        height: 420px;
    }
    
    
    #images-slides {
        border-radius: 22px;
        width: 280px;
        max-height: 378px;
        height: 260px;
    }


    #certyfikaty{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        flex-wrap: nowrap;
    }
    #certyfikaty h2{
        font-size: 23px;
        margin: 0 0 1px 0;
    }

    #certificate{
        width: 40px;
    }
}






@media screen and (max-width: 1100px) {
    #rest{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    
    #sl2_content{
        font-size: 15px;
        padding: 25px 39px 27px 39px;
        border-radius: 20px;
        max-width: 700px;
    }
    
    #sl2_about{
        margin: 5px 0 0 5px;
        list-style: none;
        padding-left: 0;
        gap: 10px;
    }
    
    #sl2_about li{
        background-image: url('../obrazy/verified1.png');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: 0 50%; 
        padding-left: 30px; 
        margin-bottom: 5px;
        font-size: 13px;
    }
    
    #sl2_about li:last-child {
        margin-bottom: 0; 
    }
    
    
    #sl2_text{
        padding: 0px;
        max-width: 335px;
    }
    
    #sl2_text h1{
        font-size: 26px;
    
        margin: 10px 5px;
    }
    
    #sl2_text h3{
        margin: 0 0 15px 5px;
        font-size: 11px;
        font-weight: 400;
    }
    
    #images-slides{
        border-radius: 20px;
    }
    
    
    #images {
        transform: translateY(20px);
        height: 300px;
    }
    
    
    #images-slides {
        border-radius: 22px;
        width: 231px;
        max-height: 300px;
        height: 260px;
    }


    #certyfikaty{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        flex-wrap: nowrap;
    }
    #certyfikaty h2{
        font-size: 23px;
        margin: 0 0 1px 0;
    }

    #certificate{
        width: 40px;
    }
}




@media screen and (max-width: 750px) {

    #rest{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 70vw;
        align-items: center;
    }
    
    #sl2_content{
        width: 80vw;
        align-items: center;
        font-size: 15px;
        padding: 50px 39px 127px 39px;
        border-radius: 20px;
        max-width: 650px;
    }
    
    #sl2_about{
        margin: 5px 0 0 5px;
        list-style: none;
        padding-left: 0;
        gap: 10px;
    }

    #sl2_text{
        max-width: 650px;
    }


}