#rest{
    display: flex;
    flex-direction: row;
    gap: 100px;
}


#certyfikaty{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}
#certyfikaty h2{
    margin: 0 0 10px 0;
    font-size: 45px;
}

#certificate{
    width: 40px;
}




